<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>servlet.admin.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectUserList</servlet-name>
        <servlet-class>servlet.admin.SelectUserList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectUserList</servlet-name>
        <url-pattern>/SelectUserList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlet.admin.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNotic</servlet-name>
        <servlet-class>servlet.admin.AddNotic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddNotic</servlet-name>
        <url-pattern>/AddNotic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Reg</servlet-name>
        <servlet-class>servlet.Reg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reg</servlet-name>
        <url-pattern>/Reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>servlet.admin.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetNotice</servlet-name>
        <servlet-class>servlet.api.GetNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNotice</servlet-name>
        <url-pattern>/GetNotice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCourse</servlet-name>
        <servlet-class>servlet.teacher.AddCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCourse</servlet-name>
        <url-pattern>/AddCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SelectCourseList</servlet-name>
        <servlet-class>servlet.teacher.SelectCourseList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectCourseList</servlet-name>
        <url-pattern>/SelectCourseList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.teacher.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>servlet.teacher.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.teacher.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCourse</servlet-name>
        <servlet-class>servlet.teacher.UpdateCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCourse</servlet-name>
        <url-pattern>/UpdateCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCourse</servlet-name>
        <servlet-class>servlet.teacher.DeleteCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCourse</servlet-name>
        <url-pattern>/DeleteCourse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>servlet.teacher.AddTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SeeTask</servlet-name>
        <servlet-class>servlet.teacher.SeeTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SeeTask</servlet-name>
        <url-pattern>/SeeTask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMessage</servlet-name>
        <servlet-class>servlet.api.SendMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessage</servlet-name>
        <url-pattern>/sendMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FetchMessage</servlet-name>
        <servlet-class>servlet.api.FetchMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchMessage</servlet-name>
        <url-pattern>/fetchMessage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InsertCrouseServlet</servlet-name>
        <servlet-class>servlet.student.InsertCrouseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertCrouseServlet</servlet-name>
        <url-pattern>/insertCrouseServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectCrouse</servlet-name>
        <servlet-class>servlet.student.SelectCrouse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectCrouse</servlet-name>
        <url-pattern>/selectCrouse</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DoTask</servlet-name>
        <servlet-class>servlet.student.DoTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoTask</servlet-name>
        <url-pattern>/doTask</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>StudentTest</servlet-name>
        <servlet-class>servlet.student.StudentTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentTest</servlet-name>
        <url-pattern>/studentTest</url-pattern>
    </servlet-mapping>




</web-app>